body{
  font-family: "Montserrat";
}
#title{
  position:relative;
  background-color: #ff4c68;
  color:#fff;
  padding: 3% 10% 7%;
}
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
/* Navigation Bar */
.navbar-nav{
  margin-left: auto;
}
.navbar{
  padding-bottom: 4rem;
}
.navbar-brand{
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-item{
  margin-left:18px;
  margin-right:18px;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: lighter;
}
.container-fluid{
  padding:0px;
}
/* Download Buttons */
.dwd-button{
  margin: 5% 3%;
}
/* title image */
.title-img{
  width:22%;
  transform:rotate(25deg);
  position:absolute;
  right:20%;
}
/* features */
.feature-box{
  text-align: center;
  padding: 4.5%;
}
#features{
  padding:7% 15%;
  background-color: #fff;
  position:relative;
  z-index:1;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
}
p{
  color: #8f8f8f;
  font-weight: bold;
  font-family: "Montserrat";
}
.icon{
  color:#ef8172;
  margin-bottom:1.5rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
h2{
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 4rem;
}
.testimonial-image{
  width:15%;
  border-radius: 100%;
  margin:25px;
}
.carousel-item{
  padding:5% 20%;
}
/* press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding:50px;
  padding-top:0;
}
.press-logo{
  width:15%;
  margin: 20px;
}
/*pricing*/
#pricing{
  padding:100px;
  text-align: center;
}
.price-col{
  padding:3% 2%;
}
@media (max-width:1028px){
  .title-img{
    position:static;
    transform:rotate(0);
    width:40%;
  }
  #title{
    text-align: center;
  }
}
/*call to action*/
#cta{
  background-color: #ff4c68;
  text-align:center;
  padding:5%;
  color:#fff;
  padding-bottom: 3%;
}
.cts-heading{
  font-size: 2.5rem;
  font-family:"Montserrat";
}
/*footer*/
#footer{
  padding:5%;
  text-align:center;
}
.social-icon{
  padding:20px 10px;
}
